<div class="row marketing">
  <div id="room-list"></div>
  <div class="col-lg-6">
    <input id="user-input" type="text" placeholder="User"></input>
    <input id="chat-input" type="text" placeholder="Messgae"></input>
    <div id="messages"></div>  
  </div>
</div>